@model UIA_FlightBookingWebApplication.Models.Passenger

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Passenger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ageCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ageCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.passport }) |
    @Html.ActionLink("Back to List", "Index")
</p>
