@model UIA_FlightBookingWebApplication.Models.SeatLabel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SeatLabel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.claName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.claName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatGroup.flightSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatGroup.flightSize)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.seatID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
