@model UIA_FlightBookingWebApplication.Models.SpecialService

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpecialService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ssName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ssName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ssFare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ssFare)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ssID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
